<div class="row">

    <div class="col-md-9">

        <!-- Blog list -->
        <ul id="posts-list">
            {% for post in site.posts %}
            <li class="posts-list-item">
                <div class="posts-content">
                    <span class="posts-list-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
                    <a class="posts-list-name bubble-float-left" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    <span class='circle'></span>
                </div>
            </li>
            {% endfor %}
        </ul>

        <!-- Pagination -->
        {% include pagination.html %}

        <!-- Comments -->
        {% include disqus-comments.html %}

    </div>

    <div class="col-md-3">
        {% include sidebar-post-tag.html %}
    </div>

</div>
<script>
    $(document).ready(function(){
  var articleList = [{% for post in site.posts %}  
        <span style="white-space:pre">    </span>{"title":"{{post.title}}",  
            "url":"{{site.url}}{{post.url}}",  
    <span style="white-space:pre">    </span>   "date":"{{ post.date | date:'%Y-%m-%d' }}",  
            "excerpt": '{{ post.excerpt | strip_html | strip_newlines | truncate:170 }}'  
            {% if post.categories != empty %}  
            ,  
            "categories":[{% for category in post.categories %}"{{category}}"{% if forloop.last == false %},{% endif %}{% endfor %}]{% endif %}}  
            {% if forloop.last == false %},{% endif %}{% endfor %}];  
        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

    });
</script>
